{% extends "base.html" %}
{% load static %}
{% block title %}
Change Password
{% endblock title %}

{% block main %}
<div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <div class="card mb-3 shadow-lg p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <div class="pt-4 pb-2">
                                <div class="text-center">
                                   
                                </div>
                                <h5 class="card-title text-center pb-0 fs-4"><span class="">
                                    Change Password</span></h5> 
                                <p class="text-center small">Enter your old and new password to change password</p>
                                <form class="row g-3" method="post">
                                    {% csrf_token %}
                                    
                                    <div class="col-12">
                                        <label for="oldPassword" class="form-label">Old Password</label>
                                        <input type="password" name="old_password" class="form-control" id="oldPassword" name="old_password" required>
                                    </div>
                                    <div class="col-12">
                                        <label for="newPassword1" class="form-label">New Password</label>
                                        <input type="password" name="new_password1" class="form-control" id="newPassword1" name="new_password" required>

                                        <div class="form-text">Password must be at least 8 characters long.</div>
                                        <div class="form-text">Password can't be too similar to your other personal information.</div>
                                        <div class="form-text">Password must contain at least 8 characters.</div>
                                        <div class="form-text">Password can't be a commonly used password.</div>
                                        
                                        <label for="newPassword2" class="form-label">Confirm New Password</label>
                                        <input type="password" name="new_password2" class="form-control" id="newPassword2" name="confirm_password" required>
                                        <p>Enter the same password as before, for verification.</p>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-secondary">Change Password</button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





</div>
{% endblock main %}

