{% extends "base.html" %}
{% load static %}
{% block title %}
Login
{% endblock title %}

{% block main %}

<div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                    <div class="card mb-3 shadow-lg p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <div class="pt-4 pb-2">
                                <div class="text-center">
                                   
                                </div>
                                <h5 class="card-title text-center pb-0 fs-4"><span class="">
                                    Login</span></h5>
                                <p class="text-center small">Enter your username & password to login</p>
                                
                            </div>



                            <form class="row g-3" method="post">
                                {% csrf_token %}
                                
                                <div class="col-12">
                                    <label for="yourUsername" class="form-label">Username</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                                        <input type="text" name="username" class="form-control" id="yourUsername" value="{{ form.username.value }}" required>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Password</label>
                                    <input type="password" name="password" class="form-control" id="yourPassword" required>
                                </div>

                                <!-- CAPTCHA field -->
                           
                                <div class="col-12">
                                    <label for="captcha" class="form-label">Captcha</label>
                                    <div class="d-flex align-items-center">
                                        <img src="{{ captcha_image }}" alt="captcha" class="me-3" />
                                        <input type="text" name="captcha_1" class="form-control" placeholder="Enter CAPTCHA" required>
                                    </div>
                                    <input type="hidden" name="captcha_0" value="{{ captcha_key }}">
                                </div>

                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                                        <label class="form-check-label" for="rememberMe">Remember me</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-secondary w-100" type="submit">Login</button>
                                </div>

                                <div class="col-12">
                                    <p class="small mb-0">Don't have an account? <a href="{% url 'sign_up' %}">Create an account</a></p>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock main %}